{% extends 'adminside/adminbase.html' %}
{% load static %}

{% load widget_tweaks %}

{% block title %}
Add New Category
{% endblock %}



{% block tablecontent %}
Add New Category Offer
{% endblock %}

{% block maincontent %}

<form action="" method="post">
    {% csrf_token %}
    <div class="col-md-3 mb-3">
        <label for="">Category</label>
        
            {% render_field form.category_id class="form-control text-white" %}
        
    </div>
    <div class="col-md-3 mb-3">
        <label for="">Offer value</label>
        {% render_field form.offer_perc class="form-control text-white" %}
    </div>


    <div class="mb-3 "><button class="btn btn-primary" type="submit">submit</button></div>
</form>

{% endblock %}