{% extends 'useraccount/baseaccountt.html' %}
{% load static %}

{% load widget_tweaks %}


{% block title %}
{{request.user.first_name}}
{% endblock %}

{% block usertitle %} 
Dashboard
{% endblock %}

{% block dashboardactive %} 
active
{% endblock %}





{% block testing %}

<div class="card shadow my-5">
    <div class="card-body">
        <h6>Basic Details</h6>
        <hr>
        <form method="POST" class="post-form" action="">  
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label for="">Name</label>
                    {% render_field form.name required="True" class="form-control" %}
                </div>
                
                <div class="col-md-6 mt-2">
                    <label for="">Email Address</label>
                    <!-- <input class="form-control" type="email" name="email" placeholder="Enter you email"> -->
                    {% render_field form.email required="True" class="form-control" %}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="">Phone Number</label>
                    <!-- <input class="form-control" type="text" name="mobile" placeholder="Enter you phone"> -->
                    {% render_field form.mobile required="True" class="form-control" %}
                </div>
                <div class="col-md-12 mt-2">
                    <label for="">Address lane 1</label>
                    <!-- <input class="form-control" type="text" name="address_1" placeholder="Address lane 1"> -->
                    {% render_field form.address_1 required="True" class="form-control" %}
                </div>
                <div class="col-md-12 mt-2">
                    <label for="">Address Lane 2</label>
                    <!-- <input class="form-control" type="text" name="address_2" placeholder="Address lane 2"> -->
                    {% render_field form.address_2 required="True" class="form-control" %}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="">City</label>
                    <!-- <input class="form-control" type="text" name="city" placeholder="Enter you city"> -->
                    {% render_field form.city required="True" class="form-control" %}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="">District</label>
                    <!-- <input class="form-control" type="text" name="district" placeholder="Enter you district"> -->
                    {% render_field form.district required="True" class="form-control" %}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="">State</label>
                    <!-- <input class="form-control" type="text" name="state" placeholder="Enter you state"> -->
                    {% render_field form.state required="True" class="form-control" %}
                </div>
                <div class="col-md-6 mt-2">
                    <label for="">Pin code</label>
                    <!-- <input class="form-control" type="text" name="pincode" placeholder="Enter you Pin code"> -->
                    {% render_field form.pincode required="True" class="form-control" %}
                </div>
                <div>
                    <button class="btn btn-primary mt-2" type="submit">Add address</button>
                    <a class="btn btn-danger mt-2" href="{% url 'accountmanage:useraccount' %}">Cancel</a>
                </div>
            </div>
        </form>
        </div>
    </div>
    {% for message in messages %}
    {{message}}
    {% endfor %}
{% endblock %}


